@{
    ViewBag.Title = "Calculate Your Weight Percentages";
}

<h1>Percentage Calculator</h1>
<p>Often times - we have to complete lifts using percentages based off of our 1 Rep Max.  Use this
    calculator to help you figure out what weight you need to use.
</p>

<label>Weight:</label>
<input />

<span class="btn">Calculate</span>
<span class="btn">Clear</span>