@using CrossFitTools.Web.HtmlHelpers
@model CrossFitTools.Web.Models.Calculator.CalculatorViewModel

@{
    ViewBag.Title = "Calculate Your Weight Percentages";
}

<section id="calculator-section">
    <div class="row">
        <div class="span12">

            <h1>Percentage Calculator</h1>
            <p>Often times - we have to complete lifts using percentages based off of our 1 Rep Max.  Use this
    calculator to help you figure out what weight you need to use.
            </p>

            <label class="radio">
                <input type="radio" name="roundingRadio" id="round" value="toNearest5" checked /> Round to the nearest 5#
            </label>
            <label class="radio">
                <input type="radio" name="roundingRadio" id="dontRound" value="dontRound"/> Don't Round
            </label>

            <div class="control-group">
                <label class="control-label" for="weight">Weight:</label>
                <div class="controls">
                    <div class="input-append">
                        <input data-bind="value: weight" type="number" class="span1" id="weight" />

                        <button class="btn btn-primary" data-bind="click:calculate" type="button">Calculate</button>
                        <button class="btn " data-bind="click:clear" type="button">Clear</button>
                    </div>
                </div>
            </div>

        </div>
        <br />
    </div>

    <div class="row">
        <div class="span6" data-bind="foreach:percentages,visible:percentages().length > 0" style="display: none">
            <div class="thumbnail percentage-thumbnail">
                <small data-bind="text: label" class="muted"></small></br>
                    <strong class="text-info percentage-text" data-bind="text: value"  style=""></strong>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>

    <div class="row" data-bind="visible:percentages().length > 0 && valueIsRounded()" style="display: none;">
        <div class="span12">
            <small class="muted"><strong>NOTE:</strong> the numbers above are rounded to the nearest 5#</small>
        </div>
    </div>



    <script type="text/javascript">
        @Html.ToJSVar("calculatorViewModel", Model)
    </script>
</section>