@{
    Layout = "~/Views/Shared/_FbObjectLayout.cshtml";
}


<h2>Basic WOD</h2>
<p>Whenever you use Every WOD to log a Normal Workout - that activity can show up in Facebook</p>
<p>Users of EveryWOD can capture skills, strength, conditioning, and mobility data for any given day - by logging a normal workout.</p>



@section meta{
    
    <meta property="og:type" content="everywod:basic_workout" />
    <meta property="og:url" content="@Url.AbsoluteAction("basicworkout","facebookobjects")"/>
    <meta property="og:title" content="Basic Workout" />
    <meta property="og:description" content="Users of EveryWOD can capture skills, strength, conditioning, and mobility data for any given day - by logging a normal workout." />
}
