@{
    Layout = "~/Views/Shared/_FbObjectLayout.cshtml";
}


<h2>Basic WOD</h2>
<p>Whenever you use Every WOD to log a Basic Workout - that activity can show up in Facebook</p>
<p>When you log your basic workout, you would normally write about any skills, stength, conditioning, and mobility that you comleted for that day.</p>



@section meta{
    <meta property="fb:app_id" content="460497347351482" />
    <meta property="og:type" content="everywod:basic_workout" />
    <meta property="og:url" content="http://crossfitbenchmarks.azurewebsites.net/facebookobjects/basicworkout" />
    <meta property="og:title" content="Basic Workout" />
    <meta property="og:image" content="http://crossfitbenchmarks.azurewebsites.net/content/images/ew-fbObject-x1500.jpg" />
}
