@{
    Layout = "~/Views/Shared/_FbObjectLayout.cshtml";
}

<h2>A Benckmark</h2>
<p>Whenever you use Every WOD to log a Benchmark - that activity can show up in Facebook.</p>
<p>A typical benchmark would be something like, 1 rep max deadlift, 1 rep max snatch, Max Effort double-Unders, etc.</p>

@section meta{
    <meta property="fb:app_id" content="460497347351482" />
    <meta property="og:type" content="everywod:benchmark" />
    <meta property="og:url" content="http://crossfitbenchmarks.azurewebsites.net/facebookobjects/benchmark" />
    <meta property="og:title" content="Benchmark" />
    <meta property="og:image" content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
}