@{
    Layout = "~/Views/Shared/_FbObjectLayout.cshtml";
}

<h2>A Benckmark</h2>
<p>Whenever you use Every WOD to log a Benchmark - that activity can show up in Facebook.</p>
<p>A typical benchmark would be something like, 1 rep max deadlift, 1 rep max snatch, Max Effort double-Unders, etc.</p>

@section meta{
    <meta property="og:type" content="everywod:benchmark" />
    <meta property="og:url" content="@Url.AbsoluteAction("benchmark","facebookobjects")"/>
    <meta property="og:title" content="Benchmark" />
    <meta property="og:description" content="Users of EveryWOD can capture benchmark data for any given day - by logging a benchmark workout." />
}