@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
xmlns:fb="https://www.facebook.com/2008/fbml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# everywod: http://ogp.me/ns/fb/everywod#">
    <meta property="fb:app_id" content="460497347351482" />
    <meta property="og:type" content="everywod:benchmark" />
    <meta property="og:url" content="http://crossfitbenchmarks.azurewebsites.net/facebookobjects/benchmark" />
    <meta property="og:title" content="Benchmark" />
    <meta property="og:image" content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
    <meta property="everywod:score" content="Sample Score" />
    </head>

    <body>
        <h2>Facebook Object Page for Benchmark</h2>
    </body>
    
</html>