@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
xmlns:fb="https://www.facebook.com/2008/fbml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# crossfitbenchmarks: http://ogp.me/ns/fb/crossfitbenchmarks#">
    <meta property="fb:app_id" content="460497347351482" />
    <meta property="og:type" content="crossfitbenchmarks:girl_workout" />
    <meta property="og:url" content="http://crossfitbenchmarks.azurewebsites.net/facebookobjects/girlworkout" />
    <meta property="og:title" content="Girl" />
    <meta property="og:image" content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
    <meta property="crossfitbenchmarks:score" content="Sample Score" />
    </head>

    <body>
        <h2>Facebook Object Page for The Girls</h2>
    </body>
    
</html>