@{
    Layout = "~/Views/Shared/_FbObjectLayout.cshtml";
}

<h2>The Girls</h2>
<p>Whenever you use Every WOD to log one of "The Girls" - that activity can show up in Facebook.</p>
<p>Fran, Helen, Isabel, and Helen are samples of "The Girls"</p>

@section meta
{
    <meta property="og:type" content="everywod:girls" />
    <meta property="og:url" content="@Url.AbsoluteAction("girlworkout","facebookobjects")"/>
    <meta property="og:title" content="Girl" />
    <meta property="og:description" content="Users of EveryWOD can log 'The Girls'." />
}
