@{
    Layout = "~/Views/Shared/_FbObjectLayout.cshtml";
}

<h2>The Girls</h2>
<p>Whenever you use Every WOD to log one of "The Girls" - that activity can show up in Facebook.</p>
<p>Fran, Helen, Isabel, and Helen are samples of "The Girls"</p>

@section meta
{
    <meta property="fb:app_id" content="460497347351482" />
    <meta property="og:type" content="everywod:girls" />
    <meta property="og:url" content="http://crossfitbenchmarks.azurewebsites.net/facebookobjects/girlworkout" />
    <meta property="og:title" content="Girl" />
    <meta property="og:image" content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
}
