@{
    Layout = "~/Views/Shared/_FbObjectLayout.cshtml";
}

<h2>Hero WOD</h2>
<p>Whenver you use Every WOD to log a Hero WOD - that activity can show up in Facebook.</p>
<p>Some of the Hero WODs are named Daniel, JT, and Murph.</p>

@section meta{
 <meta property="fb:app_id" content="460497347351482" />
    <meta property="og:type" content="everywod:hero_workout" />
    <meta property="og:url" content="http://crossfitbenchmarks.azurewebsites.net/facebookobjects/heroworkout" />
    <meta property="og:title" content="Hero Workout" />
    <meta property="og:image" content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />   
    }