@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
xmlns:fb="https://www.facebook.com/2008/fbml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# everywod: http://ogp.me/ns/fb/everywod#">
    <meta property="fb:app_id" content="460497347351482" />
    <meta property="og:type" content="everywod:personal_record" />
    <meta property="og:url" content="http://crossfitbenchmarks.azurewebsites.net/facebookobjects/personalrecord" />
    <meta property="og:title" content="Personal Record" />
    <meta property="og:image" content="http://crossfitbenchmarks.azurewebsites.net/content/images/ew-logo-x128.jpg" />
    <meta property="everywod:score" content="Sample Score" />
    </head>

    <body>
        <h2>Facebook Object Page for Personal Record</h2>
    </body>
</html>