@{
    Layout = "~/Views/Shared/_FbObjectLayout.cshtml";
}

<h2>Personal Record</h2>
<p>Whenever you use Every WOD to log a personal record - that activity can show up in Facebook.</p>

@section meta{
    <meta property="og:type" content="everywod:personal_record" />
    <meta property="og:url" content="@Url.AbsoluteAction("personalrecord","facebookobjects")"/>
    <meta property="og:title" content="Personal Record" />
    <meta property="og:description" content="Users of EveryWOD can log their Personal Records." />  
    }
