html, body
{
    height: 100%;
}

footer
{
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}

    footer a
    {
        color: #999;
    }

        footer a:hover
        {
            color: #efefef;
        }

.wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -195px;
}

.push
{
    height: 195px;
}

body
{
    color: #fff;
    background-color: #000;
}

.thumbnail.percentage-thumbnail
{
    float: left;
    min-height: 3em;
    width: 3.8em;
    padding: .5em;
    margin: .5em;
}

.percentage-text
{
    font-size: 1.3em;
}


.hero-unit
{
    background-color: #000;
}

.header-icon
{
    background: url("images/logo-main-large_01.png") no-repeat #000;
    height: 82px;
    width: 360px;
    margin-top: 4em;
}

.header-title
{
    margin-top: 3em;
}


footer
{
    margin-top: 5em;
}

.modal
{
    background-color: #000;
    border-color: #ededed;
}

.modal-header .close
{
    color: #ffffff;
    filter: alpha(opacity=80);
}

    .modal-header .close:hover
    {
        color: #ffffff;
        filter: alpha(opacity=100);
    }

.datepicker
{
    z-index: 1100;
    color: #000;
}

.form-horizontal .control-label.key-field
{
    padding-top: 15px;
}

.thumbnail
{
    background-color: #121212;
}

.thumbnail.hover
{
    border-color:#b94a48;
    background-color: #000000;
}

    .thumbnail.hover .muted
    {
        /*color:#000000;*/
    }

    .thumbnail.hover .button-container, .thumbnail.hover .summary-note{
        visibility:visible;
    }


div.button-container {
    visibility:hidden;
}

small.summary-note {
    visibility:hidden;
}

.tooltip-inner {
 
  color: #000000;
  text-align: center;
  text-decoration: none;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #FFFFFF;
}

.tooltip.right .tooltip-arrow {
  border-top-color: #FFFFFF;
}

.tooltip.left .tooltip-arrow {
  border-top-color: #FFFFFF;
}

.tooltip.bottom .tooltip-arrow {
  border-top-color: #FFFFFF;
}

.popover-title, .popover-content {
    color:#000000;
    font-size:14px;
    font-weight:normal;
}

    a.facebook, a.twitter {
        display: block;
        /*float: left;*/
        height: 24px;
        /*padding-left: .5em;*/
        text-indent: -9999px;
        width: 24px;
    }

    a.facebook {
        background: url("images/facebook.png") no-repeat;
    }

.popover-container
{
    display:none;
    font-size:14px;
}

.form-actions
{
    background-color: transparent;
}

a.warning-link, a:hover.warning-link, a:visited.warning-link, a:link.warning-link
{
    color:#ffffff;
}