body
{
    color:#fff;
    background-color:#000;
}

.thumbnail.percentage-thumbnail
{
    float: left; 
    min-height: 3em; 
    width: 3.8em; 
    padding: .5em; 
    margin: .5em;
}

.percentage-text
{
    font-size: 1.3em;
}


.hero-unit
{
    background-color:#000;
}

.header-icon
{
    background: url("images/logo-main-large.png") no-repeat #000;
    height:270px;
    width:360px;
}

.header-title
{
    margin-top:3em;
}


footer
{
    margin-top:5em;
}

.modal
{
    background-color:#000;
    border-color:#ededed;
}

