html, body
{
    height: 100%;
}

footer
{
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}

    footer a
    {
        color: #999;
    }

        footer a:hover
        {
            color: #efefef;
        }

.wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -195px;
}

.push
{
    height: 195px;
}

body
{
    color: #fff;
    background-color: #000;
}

.thumbnail.percentage-thumbnail
{
    float: left;
    min-height: 3em;
    width: 3.8em;
    padding: .5em;
    margin: .5em;
}

.percentage-text
{
    font-size: 1.3em;
}


.hero-unit
{
    background-color: #000;
}

.header-icon
{
    background: url("images/logo-main-large_01.png") no-repeat #000;
    height: 82px;
    width: 360px;
    margin-top: 4em;
}

.header-title
{
    margin-top: 3em;
}


footer
{
    margin-top: 5em;
}

.modal
{
    background-color: #000;
    border-color: #ededed;
}

.modal-header .close
{
    color: #ffffff;
    filter: alpha(opacity=80);
}

    .modal-header .close:hover
    {
        color: #ffffff;
        filter: alpha(opacity=100);
    }

.datepicker
{
    z-index: 1100;
    color: #000;
}

.form-horizontal .control-label.key-field
{
    padding-top: 15px;
}

.thumbnail
{
    background-color: #121212;
}
