* {
	margin: 0;
}

html {
	height: 100%;
	min-height: 100%;
	background-image: url(/content/images/crossfit_weights.jpeg);
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

body {
	height: 100%;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: rgba(32, 32, 32, 0.6);
}

a, a:link, a:visited {
	/*color: #c2e57d;*/
     color: #0160a4;
	font-weight: bold;
	text-decoration: underline;
}

	a:hover {
		color: #fff;
	}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px;
}

nav {
	background-color: #000;
}

	nav > div {
		padding: 20px 0;
		width: 80%;
		margin: 0 auto;
		color: #808080;
	}

header {
	margin: 15px 0;
}

	header > div {
		width: 80%;
		margin: 0 auto;
	}

		header > div img {
			padding-right: 10px;
			float: left;
		}

		header > div > h1 {
			float: left;
			font-size: 58px;
			font-family: Georgia, 'Times New Roman', serif;
			color: #c2e57d;
			text-shadow: 1px 1px 1px #666;
			filter: dropshadow(color=#fafafa, offx=1, offy=1);
		}

			header > div > h1 > em {
				font-style: italic;
				font-weight: bold;
				color: #93cb23;
				border-bottom: solid 1px #93cb23;
				text-shadow: 1px 1px 1px #333;
				filter: dropshadow(color=#fafafa, offx=1, offy=1);
			}

article {
	margin-top: 25px;
}

	article > div {
		width: 80%;
		margin: 0 auto;
	}

footer, .push {
	height: 80px;
}

footer {
	background-color: #333333;
}

	footer > div {
		width: 80%;
		margin: 0 auto;
	}

		footer > div > p {
			font-size: 12px;
			padding: 10px 0;
			line-height: 135%;
			color: #ccc;
		}

			footer > div > p > em {
				font-weight: bold;
				color: #da2525;
			}

.column-one {
	width: 55%;
	float: left;
}

.column-two {
	width: 45%;
	float: left;
}

.top-five {
	color: #fff;
	font-size: 12px;
	line-height: 135%;
}

	.top-five > div {
		padding: 10px 10px 10px 20px;
		background-color: rgba(0, 0, 0, 0.8);
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		width: 90%;
	}

	.top-five > h1 {
		margin-bottom: 0;
		font-family: Georgia, 'Times New Roman', serif;
		font-size: 24px;
		color: #93cb23;
		text-shadow: 1px 1px 1px #333;
		filter: dropshadow(color=#fafafa, offx=1, offy=1);
	}

/* #region Ordered List */
ol {
	counter-reset: li;
	margin-left: 0;
	padding-left: 0;
}

	ol > li {
		position: relative;
		margin: 6px 0 20px 30px;
		padding: 4px 8px;
		list-style: none;
		font-size: 16px;
	}

		ol > li:before {
			content: counter(li);
			counter-increment: li;
			position: absolute;
			top: 4px;
			left: -30px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			width: 20px;
			margin-right: 8px;
			color: #c2e57d;
			font-size: 32px;
			font-family: Georgia, "Times New Roman", serif;
			text-align: center;
		}

li ol,
li ul {
	margin-top: 6px;
}

ol ol li:last-child {
	margin-bottom: 0;
}

ol > li > a,
ol > li > a:link,
ol > li > a:visited {
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
}
ol > li > p {
	font-size: 12px;
}
/* #endregion */

.account {
	color: #fff;
	font-size: 12px;
	line-height: 135%;
}

	.account > div {
		padding: 10px 10px 10px 20px;
		background-color: rgba(0, 0, 0, 0.8);
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.account > h1 {
		margin-bottom: 0;
		font-family: Georgia, 'Times New Roman', serif;
		font-size: 24px;
		color: #93cb23;
		text-shadow: 1px 1px 1px #333;
		filter: dropshadow(color=#fafafa, offx=1, offy=1);
	}

	.account ul {
		margin-top: 10px;
	}

		.account ul li {
			font-size: 16px;
			margin-left: 20px;
		}

a.social-sign-in {
	color: #0160a4;
	font-weight: normal;
	text-decoration: underline;
	font-size: 14px;
	line-height: 140%;
}

	a.social-sign-in > i {
		margin-right: 6px;
		text-decoration: none;
	}

	a.social-sign-in i[class^="icon-"], a.social-sign-in i[class*=" icon-"] {
		text-decoration: none;
		margin-right: 6px;
		color: #fff;
	}

	a.social-sign-in:hover {
		color: #fff;
	}

.marketing {
	color: #fff;
	font-size: 12px;
	line-height: 135%;
}

	.marketing > div {
		padding: 10px 10px 10px 20px;
		background-color: rgba(0, 0, 0, 0.8);
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.marketing > h1 {
		margin: 42px 0 0 0;
		font-family: Georgia, 'Times New Roman', serif;
		font-size: 24px;
		color: #93cb23;
		text-shadow: 1px 1px 1px #333;
		filter: dropshadow(color=#fafafa, offx=1, offy=1);
	}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* #region form */
form {
	margin-top: 20px;
}

.txt-sign-up {
	height: 24px; 
	width: 80%;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn-sign-up {
	height: 26px;
	background-color: #0160a4;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/* #endregion */

/* #region background colors */
.background-light-red {
	background-color: #da2525;
}

.background-red {
	background-color: #8e0c0c;
}

.background-light-blue {
	background-color: #69c1c1;
}

.background-blue {
	background-color: #168383;
}

.background-light-green {
	background-color: #c2e57d;
}

.background-green {
	background-color: #93cb23;
}
/* #endregion */

/* #region font colors */
.font-light-red {
	color: #da2525;
}

.font-red {
	color: #8e0c0c;
}

.font-light-blue {
	color: #69c1c1;
}

.font-blue {
	color: #168383;
}

.font-light-green {
	color: #c2e57d;
}

.font-green {
	color: #93cb23;
}
/* #endregion */

/* #region site overrides */

/* #endregion */

/* #region bootstrap overrides*/

/* #endregion */
