@model BenchmarksViewModel

@{
    ViewBag.Title = "My Benchmarks";
}

    <div id="benchmarks-content">

        <h2>Review Your Benchmarks</h2>
        
        @Html.Partial("WodItems")
    </div>

@Html.Partial("AddLogEntry", new AddLogEntryViewModel()) 

<script type="text/javascript">
    @Html.ToJSVar("benchmarksViewModel", Model)
</script>

