@model TheGirlsViewModel

@{
    ViewBag.Title = "The Girls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="theGirls-content">

        <h2>Review Your Log Entries for The Girls</h2>
        @Html.Partial("WodItems")
    </div>

@Html.Partial("AddLogEntry", new AddLogEntryViewModel())

<script type="text/javascript">
    @Html.ToJSVar("theGirlsViewModel", Model)
</script>