@model TheHeroesViewModel

@{
    ViewBag.Title = "The Heroes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="theHeroes-content">

        <h2>Review Your Log Entries for The Heroes</h2>
        
        @Html.Partial("WodItems")
    </div>

@Html.Partial("AddLogEntry", new AddLogEntryViewModel())

<script type="text/javascript">
    @Html.ToJSVar("theHeroesViewModel", Model)
</script>