<div style="min-height: 100px;">
    <div class="row">
        <div class="span4">
            <div class="pull-left bars-button-container list-item-header dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-title="More Options" data-content="Add buttons here"><div class="bars-button"></div></a>
                <ul class="dropdown-menu" role="menu" aria-labelledbydLabel>
                    <li><a id="buttons" class="addNew-button" data-bind="click:$parent.setHeader"><i class="icon-plus-sign"></i>&nbsp;Add New</a></li>
                    <li class="divider"></li>
                    <li><a data-bind="attr:{href:$parent.historyUri($data)}"><i class="icon-th-list"></i> Workout History</a></li>
                    <li class="divider"></li>
                    <li><a><i class="icon-trash"></i> Delete <b>ALL</b> log entries</a></li>
                </ul>
            </div>
            <div class="pull-left">
                <h4 class="list-item-header" style="display: inline-block"><a class="workout-name text-info warning-link" data-bind="text:name,attr:{href:$parent.historyUri($data)}"></a></h4>
            </div>
            
        </div>
        
    </div>
    <div class="row">
        <div class="span4 item-content">
            <!-- ko if:lastScore() != null -->
            <p><span style="display: inline-block">Last:&nbsp;<span data-bind="text:lastScore"></span><small class="muted">&nbsp;<span data-bind="if: !isInPast(lastAttemptDate())">will be logged&nbsp;</span><span data-bind="if:isInPast(lastAttemptDate())">was logged&nbsp;</span><span data-bind="text:lastAttemptDateHumanized"></span></small></span></p>
            <p><span style="display: inline-block">PR:&nbsp;<span data-bind="text:personalRecordScore"></span><small class="muted">&nbsp;<span data-bind="if:!isInPast(lastPersonalRecordDate())">will be logged&nbsp;</span><span data-bind="if:isInPast(lastPersonalRecordDate())">was logged&nbsp;</span><span data-bind="text:lastPrDateHumanized()"></span></small></span></p>
            <!-- /ko -->

            <!-- ko if:lastScore() == null -->
            <p><span style="display: inline-block"><strong class="note text-error"><em>You should create an entry for this WOD!</em></strong></span></p>
            <!-- /ko -->

        </div>

    </div>
    

    

</div>

@*<div class="clearfix"></div>
<div style="min-height: 40px;">
    <a id="buttons" style="display: inline-block; position: relative; top: 10px" class="btn btn-primary addNew-button" data-bind="click:$parent.setHeader"><i class="icon-plus-sign icon-white"></i>&nbsp;Add New</a>

    <div class="pull-right">
        <a style="display: inline-block; position: relative; top: 10px" class="btn btn-inverse showList-button" data-bind="attr:{href:$parent.historyUri($data)}"><i class="icon-list icon-white"></i></a>
    </div>
</div>*@
