@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}    
    <div class="row workoutHistory-container">
        <h2 class="span8 tt"><span>Workout History<span></span><span style="display:none;" class="text-info" data-bind="if:value().length > 0,text:' for ' + $root.workoutName"></span></span></h2>
        <p style="display:none;" data-bind="if:value().length > 0"><small class="span8">This view shows up to the last 25 log entries for: <span class="label label-warning" data-bind="text:$root.workoutName"></span></small></p>
        <div id="workoutHistory-content" class="span8" style="margin-top:1em;">
            <!-- ko if:value().length == 0 -->
            <p style="display:none" data-bind="visible:value().length == 0" class="lead text-warning">You do not have any log entries to display... start logging...</p>
            <!-- /ko -->

            <div class="wodItems-container">
                <!-- ko: if:value().length > 0 -->
                <ul style="display:none" id="wodItems" data-bind="visible:value().length > 0, foreach: value()" class="thumbnails">
                    <li class="span8">
                        <div class="thumbnail" style="min-height:40px;" data-bind="attr:{id:WorkoutLogId}">
                            <div class="pull-left">
                                <p>
                                    <span data-bind="visible:IsAPersonalRecord" class="label label-important">New PR!</span>
                                    <small class="muted">An entry<span data-bind="if: moment($data.DateOfWod()).isBefore(moment())">&nbsp;was logged about&nbsp;</span><span data-bind="if: !(moment($data.DateOfWod()).isBefore(moment()))">&nbsp;will be logged&nbsp;</span><span data-bind="text:moment($data.DateOfWod()).fromNow()"></span>&nbsp;and you scored&nbsp;<span class="score badge badge-info" data-bind="text:Score"></span></small></p>
                                <small class="summary-note">Notes: <span data-bind="text:Notes"></span></small>
                       
                            </div>
                            <div class="clearfix"></div>
                            <div class="button-container pull-right">
                                <a class="btn btn-inverse summary-delete" rel="tooltip" href="#" data-toggle="tooltip" data-title="Delete this entry..."><i class="icon-trash icon-white"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
                <!-- /ko -->
            </div>
        </div>
    </div>


<script type="text/javascript">
    @Html.ToJSVar("workoutHistoryViewModel", (object)ViewBag.workoutHistoryViewModel)
</script>