@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Summary</h2>
    <div class="row">
        <div class="span8"><h4>History</h4>
        </div>
        <div class="span4"> <h4>Your Profile</h4><h4>Your Settings</h4>
        </div>
    </div>


