@{
    ViewBag.Title = "Login Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Error</h2>
<p>Ooops - we are sorry - but there was an error during your attempt to login... please try again... or come back later...</p>
