<div class="span12">
	<div class="hero-unit">
		<h2>Overview</h2>
		<p>
			Every WOD is a personal fitness tracking tool for people that practice functional fitness.  
            We focus on letting you track Personal Records and Previous Attempts for Benchmark Exercises, Named CrossFit WODs, and Hero WODs.
		</p>

		<p>
			Maybe you workout in a crossfit box, maybe you workout by yourself in your garage, maybe you workout with your squad in the desert.  
            If you have access to a mobile device, or a pc/laptop with an internet connection and a web browser - AND you are looking for a better way to tack your fitness progress - 
            then Every WOD is for you.
		</p>
	</div>

	<div class="hero-unit">
		<a name="FitnessBenchmarkTracking"></a>
		<h2>Fitness Benchmark Tracking</h2>
		<p>
			Our app counts benchmarks as things like Max Effort Pull-ups, Max Effort Push-ups, 1 Rep Max Snatch, 1 Rep Max Clean, and many, many more.  
            <ul>
				<li>Tracks Personal Record & Previous Lifts</li>
				<li>Using Historical Data - Calculate Percentages in a Single Click</li>
			</ul>
	</div>

	<div class="hero-unit">
		<a name="NamedWODTracking"></a>
		<h2>Named WOD Tracking</h2>
		<p>Want to know what your personal record is for Fran?  Maybe you forgot what your previous score for Isabel was?  Every WOD - helps you keep track of all of your Named WODs.</p>
	</div>
	<div class="hero-unit">
		<a name="HeroWODTracking"></a>
		<h2>Hero WOD Tracking</h2>
		<p>We don't do Hero WODs very often - because they tend to crush us - but when we do, we like to track how well we did.  That way - the next time we do it - we have a way to measure our progress.</p>
		<p>By logging personal records and historical data - you have the ability to measure your own progress for every Hero WOD.</p>
	</div>

	<div class="hero-unit">
		<a name="CloudStorage"></a>
		<h2>Data Stored in the Cloud</h2>
		<p>
			Each user of Every WOD gets their own data storage in our cloud.  Your data is safe, and its yours.  We don't share it or sell it.  
            We simply store it in a safe place so that you can access it with a single - social sign-on - from and device or pc.
		</p>
	</div>
	<div class="hero-unit">
		<a name="MobileReady"></a>
		<h2>Mobile Device Ready!</h2>
		<p>
			We already have our browser based version up and running.  After you install the mobile software and login with your social login, you will have access to all of your data.  
            Our mobile apps will store the data locally and periodically send the data back to the cloud so that you can access it from other devices and computers.
		</p>

		Compatible with:
        <ul>
			<li>Android Devices</li>
			<li>Apple Devices</li>
			<li>Microsoft Devices</li>
		</ul>
	</div>

	<div class="hero-unit">
		<h2>Daily WOD Tracking</h2>
		<p>So far - we have not found much use for Daily WOD tracking - unless your Daily WOD happens to be a Named WOD or a Hero WOD.  Normally - when you practice functional fitness - things are mixed up on a daily basis - so tracking the daily stuff has not proven too helpful over time.  HOWEVER - if you want - you can still do it.</p>
	</div>

	<div class="hero-unit">
		<h2>How Much Does it Cost?</h2>
		<p>
			Right Now it Is FREE!  It will remain free.  In the future - we may charge ask a nominal fee for add free versions of the mobile app.  
            We may also ask a nominal fee for those of you that want to store more than just a few pieces of historical data.  We are working that stuff out.  
            That being said - we value your feedback - so if you want to kick the tires on the app and start tracking your data and providing us with some feedback - we would really appreciate your help.
		</p>
	</div>

</div>
