@{
    ViewBag.Title = "Home";
}
<div class="span12">


<div class="row">

            <div class="span5">
                <div class="header-icon"></div>
            </div>
                    
            <div class="span6 offset1 header-title" >
                <div>
                    <h1><small>Your - FREE - functional fitness - logging tool!</small></h1>
                    <p>With Every WOD you can log the benchmarks, the girls, the heroes, or Every WOD - wodever you want - its entirely up to you</p>
                    <p>... and just for kicks we have thrown in some social fun so you can share with your friends</p>
                    <p>... oh - and we added a personal dashboard so you can see your recent activity and manage your stuff</p>

                </div>
            </div>
       
    
</div>

</div>