@{
    ViewBag.Title = "Home";
}

<div class="row">



    <h1>Crossfit Benchmarks</h1>
    <p>This is a web site that lets you do two simple things</p>
    <ul>
        <li>Track Your Crossfit Benchmarks (Key Lifts & Skills, "The Girls" & "The Heros"</li>
        <li>Calculate Your Percentages (i.e. 65% of your 1RM Snatch)</li>
    </ul>

    <h3>Its free!</h3>

    <p>So now that you know what it does - what do you want to do?</p>
    <a class="btn" href="/logger?val=benchmark">Key Benchmarks</a>
    <a class="btn" href="/logger?val=girls">The Girls</a>
    <a class="btn" href="/logger?val=hero">The Heros</a>
    <a class="btn" href="/calculator">Calculate %</a>

    <br />
</div>

<div class="row">
    <br />
    <p>This website is <b>IN NO WAY</b> associated or affiliated with Crossfit, Inc.  This website was created by people that are members of a Crossfit affiliate and 
    regularly participate in crossfit workouts - and this tool is for us to use.
    <b>The term - Crossfit is a registered trademark of Crossfit, Inc.  : please see their website for more information -
        <a href="http://www.crossfit.com/"></a>
    </b>
    </p>

</div>
