@{
    ViewBag.Title = "Home";
}

<div class="row">


        
            <div class="span6">
                <div>
                    <div class="header-icon"></div>
                </div>
            </div>
            <div class="span6 header-title" >
                <div>
                    <h1><small>This web site lets you do two simple things:</small></h1>
                    <ul>
                        <li>Track Your Crossfit Benchmarks (Key Lifts & Skills, "The Girls" & "The Heros"</li>
                        <li>Calculate Your Lifting Percentages (i.e. 65% of your 1RM Snatch)</li>
                    </ul>

                </div>
            </div>
        
    <div class="clearfix"></div>

    <h2><small>How Much Does it Cost?</small></h2>
    <h3>Its free!</h3>

    <h2>Check it Out!</h2>
    <a class="btn" href="/logger?val=benchmark">Key Benchmarks</a>
    <a class="btn" href="/logger?val=girls">The Girls</a>
    <a class="btn" href="/logger?val=hero">The Heros</a>
    <a class="btn" href="/calculator">Calculate %</a>

    <br />
</div>

<div class="row">
    <footer>
    <br />
    <p>This website is <b>IN NO WAY</b> associated or affiliated with Crossfit, Inc.  This website was created by people that are members of a Crossfit affiliate and 
    regularly participate in crossfit workouts - and this tool is for us to use.
    <b>The term - Crossfit is a registered trademark of Crossfit, Inc.  : please see their website for more information -
        <a href="http://www.crossfit.com/"></a>
    </b>
    </p>

        </footer>
</div>
