@{
    ViewBag.Title = "My Benchmark Logger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Benchmark Logger</h1>
<p>Use the tools in this page to log an entry about one of your benchmarks.</p>
